# Emacs
*.elc
*.eln
*~
.#*
\#*\#
auto-save-list/
/.emacs.desktop
/.emacs.desktop.lock
tramp

# Eask
.eask/
dist/

# packaging
*-autoloads.el
*-pkg.el

# Eldev
/.eldev/

# Flycheck
flycheck_*.el

# Flymake
*_flymake.*

# Projectiles
.projectile

# Package artifacts
*.tar
*.tar.gz
*.zip

# Build / Cache
tmp/
temp/

# OS and editor metadata
.DS_Store
.idea/
.vscode/
*:Zone.Identifier
