# Emacs
*.elc
*.eln
*~
.#*
\#*\#
auto-save-list/

# Eask
.eask/
dist/

# Package artifacts
*.tar
*.tar.gz

# OS and editor metadata
.DS_Store
.idea/
.vscode/

# Project update temporary files
.project-update-tmp/
